@import url(./bootstrap.min.css);

/* GLOBAL
  -------------------------------------------------- */

a{
    color: var(--primary);
}
a:hover{
 color: var(--secondary);   
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */



body {
    color: #5a5a5a;
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 2rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
  }

  /* CUSTOMIZAÇÃO
  -------------------------------------------------- */
  #adicionados a.destaque{
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20 px;
    color: black;
     text-decoration:none ;
     transition: all ease-out 0.2s;

}

#adicionados a.destaque:hover{
    background-color: blanchedalmond ;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, 0.12);
    transform: scale(1.1);
}

#adicionados a.destaque .img-container{
    display:flex;
    align-items: center;
    justify-content:center ;
    
}

#call .nav-link{
    font-weight: 500;
    color: steelblue;
}
/* RESPONSIVIDADE
  -------------------------------------------------- */

@media (max-width: 767.98px){
    #adicionados a.destaque.img-container{
        height: 120px;
    }
    #adicionados a.destaque.img-container img{
        max-height: 120px;
    }
    .carousel-item {
      max-height: 120px;
    }
    .carousel-item > img {
      max-height: 120px;
    }

}

@media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
    
  
    .featurette-heading {
      font-size: 50px;
    }
    
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
    
  }

.card-produto{
    background-color:#00374d;
    color: white;

        animation-name: aparicao-conteudo;
        animation-duration: 1.5s;
}

.card-produto:hover{
    transform: scale(1.05,1.05);
}

.card-borda{
    border-width: 5px;
    border-style: solid;
    border-color: #00374d;
}

.card-botao{
    background-color:#00374d;
    color:#edeeff;
    font-weight:bold;
    border: 3px solid #edeeff;
}

.card-botao:hover{
    transform: scale(1.1,1.1);
    color:white;
}

.titulo-card-home {
  color: #00374d;
}
  
 
