body {   
    background-color: #edeeff;
    font-family: 'Abhaya Libre', serif;
}

.titulo-pagina{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 200%;
    text-align: center;
    color:#00374d;
    
        animation-name: aparicao-lateral;
        animation-duration: 1.5s;
}

.linhaHorizontal{
    width: 15%;
    border-top: 3px solid #00374d;
    margin-left: 42.5%;

        animation-name: aparicao-lateral;
        animation-duration: 1.5s;
}

.cor-botoes{
    background-color:#00374d;
    color:#edeeff;
}

.cor-botoes:hover{
    transform: scale(1.1,1.1);
}

.botao-adicionar{
    display: flex;
    justify-content: flex-end;

        animation-name: aparicao-lateral;
        animation-duration: 1.5s;
}

.titulo-tabela{
    background-color:#00374d;
    color:#edeeff;
}

.linha-foto{
    width: 25%;
}

.foto-usuario{
    width: 100%;
}

.larguraAcao{
    width: 15%;
}

@media(max-width:768px){

    .titulo-pagina{
        font-size: 150%;
    }

    .colunaEmailSenha{
        display: none;
    }
    
}

@keyframes aparicao-conteudo {
    0% {opacity: 0; transform: scale(0.5,0.5 ) }
    100% {opacity: 1; transform: scale(1,1) }
}

@keyframes aparicao-lateral {
    0% {opacity: 0; transform: translate(-30px, 0px) }
    100% {opacity: 1; transform: translate(0px,0px) }
}