body {   
    background-color: #f1ffe7;
    font-family: 'Abhaya Libre', serif;
}

.titulo-pagina{
    margin-left: 5px;
    margin-right: 5px;
    font-size: 32px;
    text-align: center;
    color:#00374d;
    
        animation-name: aparição-lateral;
        animation-duration: 1.5s;
}

.linhaHorizontal{
    width: 15%;
    border-top: 3px solid #00374d;
    margin-left: 42.5%;

        animation-name: aparicao-lateral;
        animation-duration: 1.5s;
}

.cor-botoes{
    background-color:#00374d;
    color:#f1ffe7;
}

.cor-botoes:hover{
    transform: scale(1.1,1.1);
}

.img-produto{
    width: 30%;
    border: 5px solid #00374d;
    border-radius: 10%;
    margin-right:2%;
}

.descricao-produto{
    width: 68%;
    border-radius: 7%;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.borda-vertical{
    height: 100%;
    border-left: 5px solid #00374d;
    border-right: 5px solid #00374d;
}

.titulos-descricao{
    margin-top: 3%;
    font-size: 24px;
    color:#00374d;
    font-weight: bold;
}

.texto-descricao{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 500px;
}

@media (max-width: 768px){

    .titulo-pagina{
        font-size: 150%;
    }
    
    .img-produto{
        margin-left: 35%;
        margin-right: 35%;
    }
    .descricao-produto{
        margin-left: 16%;
        margin-right: 16%;
        padding: 5%;
    }

    .titulos-descricao{
        font-size: 20px;
    }

    .texto-descricao{
        font-size: 16px;
    }

}

@keyframes aparição-produtos {
    0% {opacity: 0; transform: scale(0.5,0.5 ) }
    100% {opacity: 1; transform: scale(1,1) }
}

@keyframes aparição-lateral {
    0% {opacity: 0; transform: translate(-30px, 0px) }
    100% {opacity: 1; transform: translate(0px,0px) }
}