html, body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    background-color: green;
    padding-bottom: 10px;
}

.navbar ul {
    list-style: none;
    background-color: red;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;

    text-align: center;
    vertical-align: middle;
}

.navbar li {
    display: inline-block;  
}

.navbar a {
    text-decoration: none;
}

.footer-logo img {
    height: 200px;
}

.footer-informacoes {

}

.footer-redes {

}