
.accordion{
    margin: 60px 8% 60px 8%;
    color: #00374D;
    $accordion-bg: #00374D;
}

.accordion h1{
    font-size: 30px;
    margin: 0 5% 10px 5%;
    background-color: initial;
}

.accordion h2{

    font-size: 24px;
    margin: 0 5% 10px 5%;
}

.accordion h3{
    font-size: 24px;
    margin: 0 8% 10px 8%;
}

.accordion .btn{
    font-family: 'Abhaya Libre';
    font-size: 30px;
    text-decoration: none;
    color: #00374D;
}
