@media (max-width: 767.98px){
    #adicionados a.destaque.img-container{
        height: 120px;
    }
    #adicionados a.destaque.img-container img{
        max-height: 120px;
    }

}

@media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
    
  
    .featurette-heading {
      font-size: 50px;
    }
    
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  
  